.section-skills {
  padding: 3vw 2vw;
}
.contenedor-skills {
  width: 100%;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.icon-skill {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    & span {
      text-decoration: none;
      color: #6b6b6b;
    }
  }
}
.icon {
  width: 40px;
  height: 40px;
  color: #6b6b6b;
}
@media (width < 580px) {
  .contenedor-skills {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .icon-skill {
    height: 5em;
  }
}
@media (width > 381px) {
  .icon-skill {
    height: 6em;
  }
}

@media (width > 580px) {
  .icon-skill {
    height: 8em;
  }
}

@media (width > 1000px) {
  .icon-skill::after {
    font-size: 2vw;
  }
}
