.blog-section {
  width: 100%;
  display: flex;
  color: var(--white);
  margin: 2em 0;
  & h2 {
    font-size: 2em;
  }
  & p {
    font-size: 1.2em;
  }
}
.blog-title {
  text-align: center;
  color: var(--white);
  margin: 2em 0;
  font-size: 2em;
}
.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  & button {
    border: 1px solid var(--white);
    color: var(--black);
    padding: 0.5em 1em;
  }
}
.blog-img-container {
  & img {
    width: 100%;
    object-fit: cover;
  }
}
