.blog-section {
  width: 100%;
  display: flex;
  color: var(--white);
  margin: 2em 0;
  & h3 {
    font-size: 2em;
    text-align: left;
  }
  & p {
    margin: 0.4em 0;
  }
}
.blog-title {
  text-align: center;
  color: var(--white);
  margin: 2em 0;
}
.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  & small{
    display:block;
    font-size:0.7em;
  }
  & button {
    border:none;
    border: 1px solid var(--white);
    padding: 0.5em 1em;
    
  }
  & li {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    text-wrap: pretty;
    margin: 0.4em 0;
    & span {
      font-size: 1em;
      margin-right: 0.5em;
    }
  }
}
.p-title {
  font-size: 1.2em;
}
.blog-img-container {
  & img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
  }
}
.animated-text {
  animation: gradientMove 5s infinite linear;
  background: linear-gradient(-45deg, #ff6232, #ff2b7c, #fff12f, #27ffcc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  font-weight: bolder;
  color: transparent;
}
.blog-button{
  position:relative;
  background:transparent;
  color:var(--white);
  overflow: hidden;
  &::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:30%;
    height:100%;
    background:linear-gradient(45deg,#ff6232,#ff2b7c,#fff12f,#27ffcc);
    z-index:-1;
    filter:blur(3px);
    transform:scale(1.1);
  }
  & span{
    display: inline-block;
    position:absolute;
    content:'';
    width: 10px;
    height: 100%;
    margin:2px;
    left:-100%;
    bottom:0;
    background:linear-gradient(45deg,#ff6232,#ff2b7c,#fff12f,#27ffcc);
    filter:blur(12px);
    animation: moveSpans 1s infinite ;
  }
}

@keyframes moveSpans{
  0% {
    opacity: 1;
    left: 0%;
  }
  
  100% {
    left: 130%;
  }
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;

  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (width<768px) {
  .blog-section {
    flex-direction: column;
  }
  .blog-img-container {
    width: 100%;
  }
  .blog-text {
    width: 100%;
    gap: 2em;
  }
}
