.section-three-escena {
  width: 100%;
  justify-items: center;
}

.section-three-escena-texto {
  color: #eeeeee;
  padding: 1vw 5vw;
  place-content: center;
  & h1 {
    font-size: 6vw;
    font-weight: 500;
    margin-top: 4vw;
  }
  & p {
    font-size: 3vw;
    margin-bottom: 2vw;
    width: 100%;
  }
}

.modelos-3d-page-boton a {
  font-size: 4vw;
  position: relative;
  text-decoration: none;
  padding: 0.5vw 2vw;
  color: #eeeeee;
  transition: 0.5s;
  background-color: #242424;
  border-radius: 5px;
  &:hover {
    color: rgb(0, 0, 0);
    background-color: #fafafad7;
  }
}

@media (width > 576px) and (width < 767px) {
  .section-three-escena {
    & h1 {
      font-size: 5vw;
    }
    & p {
      font-size: 3vw;
    }
    & a {
      font-size: 3vw;
    }
  }
}

@media (width > 768px) and (width < 991px) {
  .section-three-escena {
    & h1 {
      font-size: 4vw;
    }
    & p {
      font-size: 2vw;
    }
    & a {
      font-size: 2vw;
    }
  }
}

@media (width > 992px) and (width < 1199px) {
  .section-three-escena {
    display: flex;
    & h1 {
      font-size: 3vw;
    }
    & p {
      font-size: 1.8vw;
    }
    & a {
      font-size: 2vw;
    }
  }
}

@media (width > 1200px) {
  .section-three-escena {
    display: flex;
    & h1 {
      font-size: 3vw;
    }
    & p {
      font-size: 1.5vw;
    }
    & a {
      font-size: 1.3vw;
    }
  }
}
