.pricing-section{
color:white;
width: 100%;
height: 2200px;
margin:2em 0;
& h3{
    font-size:1.5em;
}
& ul{
    list-style: none;
    font-size:.8em;

}
& li{
    margin:.7em 0;
}
>h2{

    text-align: center;
}
>p{
    text-align: center;
    color:var(--gray-thin);
    
}
& a{
    text-decoration:none;
    background:var(--almostblack);
    color:var(--white);
    width: 100%;
    display:inline-block;
    padding:.5em;
    border-radius:1em;
    transition:.4s ease;
    text-align: center;
    &:hover{
        background:rgb(8, 61, 43);

    }
}

}
.pricing-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 100%;
    justify-content: center;
    padding:4em 0;

}
.pricing-card{
width: 90%;
height: 650px;
padding:1em;
background-color: rgb(5, 5, 5);
position:relative;
overflow: hidden;
border-radius:1em;
&::after{
    content:"";
    position: absolute;
    top: -100px;
    left: 40%;
width: 100px;
height: 100px;
filter:blur(100px);
background:white;
animation: alternar alternate 8s infinite linear;
}
&::before{
    content:"";
    position: absolute;
    bottom: -100px;
    left: 40%;
width: 100px;
height: 100px;
filter:blur(100px);
background:white;
animation: alternar alternate 8s infinite linear;
}
& p{
font-size:.8em;
color:rgb(104, 104, 104);

}
}
.p-c-description{
  margin-bottom:2em;  
}
.price{
    & span{
        color:var(--gray-thin)
    }
    & strong{
        font-size: 2em
    }
}
.features{
    margin:2em 0;

}

@keyframes alternar{
    0%{
        transform:translateX(0%);
        
    }
    100%{
        transform:translateX(-100%);
    
    }
}
.p-card-2{
    border:1px solid aqua;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.459);
    background-color: rgb(0, 14, 14);
    &::after{
        background-color: rgb(219, 255, 255);
    }
}
.whatsplan{
    text-align:center;
    font-size:.7em;
}
.populartag{
    position:absolute;
    right:20px;
    top:20px;
    background-color: rgb(7, 112, 112);
    border-radius: 2em;
    padding:.4em 1em; 
    font-size:.7em;
    z-index: 100;
    box-shadow:-5px -5px 20px rgba(0, 255, 255, 0.356);
    overflow: hidden;
    &::before{
        content:"";
        position: absolute;
        background-color: rgba(5, 253, 108, 0.829);
        width: 50px;
        height: 20px;
        left:0;
        top:0;
        filter:blur(15px);
        z-index: -300;
    }
}


@media (width > 668px){
   .pricing-section{
    height: 900px;
   }
   .pricing-contenedor{
    flex-direction: row;
   }
   /* .pricing-card{
    width: 350px;
   } */
}
.p-timeout{
    position:absolute;
    bottom:10px;
    right: 10px;
}