.skill-text-contenedor {
  padding-left: 4vw;
  & p {
    color: rgb(133, 133, 133);
    font-size: 3vw;
    font-weight: 300;
  }
  & h2 {
    color: white;
    font-weight: 300;
    font-size: 5vw;
  }
}
.contenedor-flecha-bajar {
  color: white;
  display: flex;
  justify-content: center;
  & a {
    right: 10%;
    text-align: center;
    color: white;
    width: 40px;
  }
}
.flecha-bajar {
  font-size: 5vw;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  animation: alternate infinite flecha 4s ease-out;
  &:hover {
    color: rgb(255, 60, 0);
    animation-play-state: paused;
  }
}

@keyframes flecha {
  to {
    transform: translateY(-10px);
  }
}

@media (width > 576px) and (width < 767px) {
  .skill-text-contenedor {
    & h2 {
      font-size: 3.5vw;
    }
    & p {
      font-size: 2vw;
    }
  }
}

@media (width > 768px) and (width < 991px) {
  .skill-text-contenedor {
    & h2 {
      font-size: 4vw;
    }
    & p {
      font-size: 2vw;
    }
  }
  .flecha-bajar {
    font-size: 4vw;
  }
}

@media (width > 992px) and (width < 1199px) {
  .skill-text-contenedor {
    & h2 {
      font-size: 3vw;
    }
    & p {
      font-size: 1.4vw;
    }
  }
  .flecha-bajar {
    font-size: 3vw;
  }
}

@media (width > 1200px) {
  .skill-text-contenedor {
    & h2 {
      font-size: 3vw;
    }
    & p {
      font-size: 1vw;
    }
  }
  .flecha-bajar {
    font-size: 2.5vw;
  }
}
