.custom-select {
  position: relative;
  max-width: 150px;
  outline: none;
  height: 42px;
}
.theme-tag{
  position:absolute;
  top:-13px;
  left: 5px;
  color:#ffffff;
  font-size:0.55rem;
  
}
.custom-select__selected,
.custom-select__option {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:#232323; */
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 5px 15px;
  height: 30px;
  cursor: pointer;
  transition: background 0.2s;
}

.custom-select__selected {
  justify-content: space-between;
  width: 120px;
}

.custom-select__selected:hover,
.custom-select__option:hover {
  background-color: #1b1b1b;

}

.custom-select__option.active {
  background-color: #0f2e42;
}

.custom-select__dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 100;
  & div:nth-child(3) {
    cursor: not-allowed;
  }
}

.custom-select__text {
  color: #ffffff;
  font-size: .9rem;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.5px;
}

.custom-select__img {
  width: 100%;
  object-fit: cover;
}

