.skill-text-contenedor {
  text-align: center;

  & h2 {
    color: var(--white);
  }
}
.contenedor-skills {
  margin-bottom: 5em;
}
.contenedor-flecha-bajar {
  color: white;
  display: flex;
  justify-content: center;
  & a {
    right: 10%;
    text-align: center;
    color: white;
    width: 40px;
  }
}
