.card-section {
  color: var(--white);
  width: 100%;
  margin-bottom: 10em;
  h2 {
    text-align: center;
    margin: 2em 0;
    font-size: 2em;
  }
}
.card-container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card {
  width: 350px;
  height: 550px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-front {
  border: 2px solid white;
}

.card-back {
  background: var(--black100);
  transform: rotateY(180deg);
  p {
    font-size: 0.8em;
  }
  a {
    text-decoration: none;
    font-size: 0.9em;
    background-color: var(--white);
    color: var(--black);
    padding: 0.3em 0.6em;
    margin-top: 1em;
    transition: 0.4s;
    &:hover {
      color: var(--white);
      background-color: var(--gray-high);
    }
  }
  big {
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
  }
  h3 {
    font-weight: 600;
    font-size: medium;
  }
}

.card-image {
  width: 100%;
  aspect-ratio: 8/2;
  object-fit: cover;
}

.card-description {
  margin-top: 10px;
  text-align: center;
}
.salsa-picante {
  display: flex;
  & img {
    width: 30%;
    aspect-ratio: 2/6;
    object-fit: cover;
  }
  > div {
    padding: 0 1em;
  }
}
.chile {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.local-only {
  font-size: 0.7em;
  color: var(--gray);
}
.tray-section {
  display: flex;
  width: 100%;
}
.tray-opened {
  display: none;
}
.tray-images {
  width: 100%;
  height: 200px;
  & img {
    width: 45%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    bottom: 30px;
  }
  &:hover .tray-closed {
    display: none;
  }
  &:hover .tray-opened {
    display: block;
  }
}
.tray-info {
  width: 90%;
}
.out,
.avalible {
  position: relative;
  &::before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 69, 69);
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0 0 8px rgb(255, 0, 0);
  }
}
.avalible {
  &::before {
    background-color: #3eff3e;
    box-shadow: 0 0 10px #00c700;
  }
}
.price {
  color: lightgreen;
}
.salsa-description {
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.3em;
  background: rgba(27, 27, 27, 0.74);
}
