@font-face {
  font-family: "Poppins";
  src: url(../assets/font/Poppins-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  height: 100%;
}
html::-webkit-scrollbar:vertical {
  width: 5px;
}
html::-webkit-scrollbar:horizontal {
  height: 10px;
}
html::-webkit-scrollbar {
  -webkit-appearance: none;
}
html::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}
html::-webkit-scrollbar-track {
  border-radius: 10px;
}
#root {
  height: 100vh;
  max-width: 1100px;
  margin: auto;
}
