@font-face {
  font-family: "Poppins";
  src: url(../assets/font/Poppins-Regular.woff2) format("woff");
}
@font-face {
  font-family: "minecraft";
  src: url(../assets/font/Minecraft.ttf) format("truetype");
}
@font-face {
  font-family: "Acosta";
  src: url(../assets/font/JejuHallasan-Regular.woff2) format("woff");
}
@font-face {
  font-family: "Cinzel";
  src: url(../assets/font/Cinzel.otf) format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html[data-theme="minecraft"] {

  --white: #ffffff;
  --black: #ffffff;
  --background: #331304;
  --almostblack: #000000;
  --blacktonone:transparent;
  --white100: #36cc00;
  --black: #4b2d1b;
  --black100: #093f10;
  --gray: #ffffff;
  --gray-low: #ffffff;
  --gray-thin: #acacac;
  --gray-target: #0d54f9;
  --gray-target-100: #333b48;
  --gray-low-100: #272727;
  --gray-high: #ffffff;
  --gray-high100: #027e06;
  --blurblue: #ff0000;
  --red: red;
  --blurblue200: #21aeff;
  --font-main: "minecraft", sans-serif;
  /*Botones del nav*/
  --btnHbr:0px;
  --btnHafter:transparent;
  --btnHbg:#555555;
  /*Botones del nav*/

  /*Cards de los proyectos*/
  --pcbg: #4b2d1b;
  --pcbr:0px;
  --pchbg:linear-gradient(20deg, rgb(0, 0, 0), #55FF55);
  --pcb: 5px solid #189c04;
  --pcttbg: #555555;
  --pcttbr: 0px;
  --pcttb: 2px solid #ffffff;
  --pcbi: url(../assets/minecraft/textures/dirt.webp);
  /*Cards de los proyectos*/

  /*Visualizador*/
  --vscbg: url(../assets/minecraft/textures/deepstone.webp);
  /*Visualizador*/

  /*seccion 3d */
  --card3dbg: url(../assets/minecraft/textures/grass2.webp);
  /*seccion del acosta  */
  --dapbg: url(../assets/minecraft/textures/grass2.webp);
  --dapibg: url(../assets/minecraft/textures/deepstone.webp);


  --background-image: url('/src/assets/minecraft/images/fondoRoca.webp');
  --background-hero-image: none;
  --cursor: url(../assets/minecraft/images/swordcursor.webp), auto;
}


html[data-theme="darkfantasy"]{

  --font-main: "Cinzel", sans-serif;
  --btnHbrImg:url(../assets/darkfantasyImg/tabla.webp);
  --btnHwidth: 130px;


}





header,
.section-profile,
.proyects-section,
.skills-section,
.dubstep-title-container,
.audio-container,
.blog-section,
.services-section,
.models-section,
.pricing-section,
.tools-section,
footer {
  font-family: var(--font-main);
}
.d-section {
  font-family: "Acosta", sans-serif;
}
html {
  background: var(--background);
  background-image: var(--background-image);
  background-size: cover;
  scroll-behavior: smooth;
  height: 100%;
  cursor:var(--cursor);
  
}


html::-webkit-scrollbar:vertical {
  width: 5px;
}
html::-webkit-scrollbar:horizontal {
  height: 10px;
}
html::-webkit-scrollbar {
  -webkit-appearance: none;
}
html::-webkit-scrollbar-thumb {
  background-color: #1fafdb;
  border-radius: 20px;
}
html::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
#root {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}
