.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carousel-container img {
  width: 100%;
  object-fit: cover;
}
.image-wrapper {
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
  position: absolute;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (width > 576px) and (width < 767px) {
  .carousel-container img {
    width: 80vw;
  }
}

@media (width > 768px) and (width < 991px) {
  .carousel-container img {
    width: 60vw;
  }
}

@media (width > 992px) {
  .carousel-container img {
    width: 40vw;
  }
}
