.video-section {
  position: relative;
  padding: 3em;
  margin: 70px 0;
}

.video-section-text-slogan {
  color: white;
  font-size: clamp(1vw, 4vw, 5vw);
  text-align: center;
  margin: 1em 0 3em 0;
}
.ul-text-list {
  color: white;
  padding: 2vw;
  border: 1px solid #59596b;
  border-radius: 5px;
  list-style: none;
  width: auto;
  height: auto;
}
@media (width > 1000px) {
  .video-section-text-slogan {
    font-size: 2em;
  }
  .ul-text-list {
    font-size: 1.4em;
  }
}

.digital-experience-contenedor {
  & img {
    object-fit: cover;
    width: 40vw;
  }
}

.ul-digital-contenedor {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

@media (width < 560px) {
  .ul-text-list {
    font-size: 3vw;
  }

  .ul-digital-contenedor {
    flex-direction: column-reverse;
  }
  .digital-experience-contenedor img {
    width: 100%;
  }
}
