.proyects-section {
  margin: 8em 0 12em 0;
  position: relative;
  width: 100%;
  & a {
    text-decoration: none;
    color: var(--gray);
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      border: 1px solid var(--gray);
      background-color: var(--white);
      color: var(--gray-low-100);
    }
  }
}
.p-container {
  scroll-snap-type: x mandatory;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 2em 0 0 0;
  padding: 1em 0 3em 0;
}
.proyects-section::after,
.proyects-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 110%;
  pointer-events: none;
  z-index: 10;
}
.proyects-section::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}
.proyects-section::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.979), transparent);
}

.p-container .p-card:nth-child(1)::after {
  background: #fa2626;
  box-shadow: 0 0 10px #ff0303;
}
.p-container .p-card:nth-child(2)::after {
  background: #ff711f;
  box-shadow: 0 0 10px #ff6a06;
}
.p-container .p-card:nth-child(3)::after {
  background: #3d70fc;
  box-shadow: 0 0 10px #008cff;
}
.p-container .p-card:nth-child(4)::after {
  background: #73fc3d;
  box-shadow: 0 0 10px #00d412;
}
.p-container .p-card:nth-child(5)::after {
  background: #e75123;
  box-shadow: 0 0 10px #ff5100;
}
.p-card {
  width: 300px;
  color: var(--white);
  scroll-snap-align: center;
  flex-shrink: 0;
  background: linear-gradient(20deg, rgb(0, 0, 0), rgb(27, 27, 27));
  position: relative;
  padding: 1em;
  transition: 0.5s ease;
  border: 1px solid var(--gray-low-100);
  border-radius: 1em;
  transition: 1s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 10%;
    width: 3px;
    height: 80%;
    border-radius: 5px;
  }

  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.8em;
    aspect-ratio: 3/2;
  }
  & p {
    font-size: 0.9em;
    text-wrap: balance;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.3em 0;
  }
}
.p-url {
  position: absolute;
  margin: 1em 0;
  bottom: 0;
  right: 10px;
}
.p-icon {
  background: linear-gradient(45deg, rgb(0, 84, 90), rgb(0, 198, 212));
  color: white;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;
}
.p-date {
  color: var(--gray-low);
}
.tecnology-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  gap: 0.4em;
  margin: 1em 0;
}
.t-tecnology {
  padding: 0.1em 0.6em;
  transition: 0.3s ease;
  background-color: var(--gray-target-100);
  border-radius: 0.4em;
  box-shadow: 2px 3px 4px var(--almostblack);
}
.p-svg-icon {
  font-size: 1em;
  transition: 0.4s ease;
}
.p-card:hover .p-svg-icon {
  transform: scale(1.2);
}
.scroll-buttons {
  display: flex;
  justify-content: center;
}
.scroll-button {
  padding: 0.8em;
  border: none;
  background-color: transparent;
  border: 1px solid var(--gray-low-100);
  border-radius: 5px;
  margin: 0 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--gray-low-100);
  }
}
