.proyectos-contenedor {
  color: var(--white);
  display: flex;
  padding: 3em;
  gap: 1em;
  margin-bottom: 5em;
}
.proyects-title {
  color: var(--white);
  text-align: center;
  margin: 1em 0;
}
.proyecto-targeta-contenedor {
  border: 1px solid var(--gray);
  width: 100%;
  min-width: 100px;
  border-radius: 10px;
  & img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    aspect-ratio: 4/3;
  }
  & p {
    padding: 1em 1em;
  }
  h3 {
    margin-left: 1em;
  }
}
.span-t-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  flex-wrap: wrap;

  & a {
    color: var(--white);
    text-decoration: none;
    padding: 3px 5px;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}
.span-t {
  border: 1px solid var(--gray);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.3em;
}
.proyect-date {
  margin: 0 1em;
  color: var(--gray);
  font-size: 0.8em;
}
