.section-skills {
  padding: 3vw 2vw;
}
.contenedor-skills {
  width: 100%;
  gap: 5px;
  display: grid;
}

.icon-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-low-100);
  transition: 0.5s;
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    & span {
      text-decoration: none;
      color: var(--gray);
    }
  }
  &:hover {
    transform: translateZ(50px);
    background-color: rgb(215, 223, 230);
    color: var(--gray-high);
    box-shadow: 0 0 10px #ffffff98;
  }
}

.icon-skill:hover + .icon-skill {
  transform: translateZ(50px) rotateY(10deg);
  background-color: var(--gray-high);
}
.icon-skill:has(+ *:hover) {
  transform: translateZ(50px) rotateY(-10deg);
  background-color: var(--gray-high);
}
.icon {
  color: var(--gray);
}
