.al-profile-img-container{
  width: 50%;

  margin: 5em 0;
  & img {
    object-fit: cover;
    aspect-ratio: 7/8;
    position:relative;
    z-index: 2;
  }
}
.section-profile {
  position:relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 5em;
  background-image: url("../../assets/images/logotrazo.webp");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  box-shadow: 30px 0 50px black inset;
  margin-top:3em;
  border-color: white;
  border-radius:40px 0 0 40px;

}

.name-button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 0 0 3em;
  z-index: 100;
}
/* ========================================== */
.btn-cv {
  position: relative;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.2em;
  border: 1px solid var(--gray);
  color: var(--white);
  cursor: pointer;
  & a {
    border: none;
    padding: 0.2em 1em;
    margin: 0 0.1em;
    cursor: pointer;
    border-radius: 0.1em;
    color: var(--white);
    text-decoration: none;
    transition: 0.2s ease-in-out;
    &:hover {
      background: #cccccc;
      color: var(--black);
    }
  }
}
.download-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  transition: 0.3s ease-in-out;
  left: 0;
  top: 0;
  font-weight: bold;
}
.lenguajes {
  transition: 0.3s ease-in-out;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cv:hover .lenguajes {
  left: 0;
}
.btn-cv:hover .download-text {
  left: 100%;
}

button:hover {
  background: rgb(202, 202, 202);
}

/* ============================================ */
.boton-cv {
  background: var(--white);
  position: relative;
  border-radius: 0.3em;
  padding: 0.2em 0.3em;
  color: var(--black);
  text-decoration: none;
  text-wrap: nowrap;
  transition: 0.2s ease;
  font-weight: 600;
  cursor: pointer;
  &:hover .translate-cv {
    transform: translateY(130%);
    opacity: 1;
  }
  &:active {
    background-color: var(--white);
    color: var(--black);
  }
  svg {
    margin: 0 10px;
  }
}
.translate-cv {
  display: flex;
  width: 100%;
  position: absolute;
  color: var(--white);
  top: 0;
  left: 0;
  transition: 0.5s ease;
  opacity: 0;
  & a:nth-child(1) {
    border-radius: 0 0 0 5px;
  }
  & a:nth-child(2) {
    border-radius: 0 0 5px 0;
  }
  a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background-color: var(--black100);
      color: var(--white);
    }
  }
}
.capsula-ex-cv {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
}
.antony-leon {
  color: var(--white);

  & h1 {
    font-family: sans-serif;
  }
  & p {
    font-size: clamp(12px, 0.9em, 3vw);
  }
}

.experience {
  animation: moveGradient 5s infinite linear;
  background: linear-gradient(-45deg, #ff6232, #ff2b7c, #fff12f, #27ffcc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  color: transparent;
  & span {
    font-size: 2.3em;
    & span {
      font-size: 0.7em;
    }
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media (width < 700px) {
  .name-button-group {
    padding: 0;
  }
}
.download {
  margin: 0 5px;
}
.flash {
  box-shadow: inset 0 0 10px var(--white);
}
