.delacosta-section,
.bottle-container,
.tazon-container,
.del-right-side,
.del-left-side,
.bottle-img {
  display: flex;
}

.delacosta-section {
  padding: 1em;
  width: 100%;
  margin: 10em 0;
  animation-timeline: view(block 100% auto);
  text-wrap: balance;
}
.delacosta-title {
  color: red;
  font-weight: bolder;
  font-size: 3em;
  font-family: fantasy;
}

.left-img-title {
  & img {
    object-fit: cover;
    height: 100px;
  }
}
.left-description {
  color: var(--white);
  & button {
    border: 1px solid var(--white);
    color: var(--black);
    padding: 0.5em 1.5em;
    display: block;
  }
  & p {
    margin: 0 4em 0 0;
  }
}
.left-button-container {
  margin-top: 5em;
  & span {
    font-size: 0.8em;
    color: var(--gray);
  }
  & a {
    white-space: nowrap;
    display: inline-block;
    padding: 0.5em 1em;
    color: var(--black);
    background-color: var(--white);
    text-decoration: none;
  }
  & button {
    padding: 1em;
  }
}
/* right==================== */
.bottle-container {
  padding-bottom: 1em;
  > div {
    width: 70%;
  }
  > div:nth-child(2) {
    width: 30%;
  }
}

.tazon-container {
  border-top: 1px solid var(--white);
  padding-top: 1em;
}
.tazon-info-container {
  width: 50%;
}
.tazon-img {
  & img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
  }
}
.del-right-side {
  flex-direction: column;
  color: var(--white);
}
.del-left-side {
  align-items: center;
}
.bottle-img {
  justify-content: center;
  & img {
    object-fit: cover;
    width: 55px;
    aspect-ratio: 9/16;
  }
}
.tazon-title,
.bottle-title {
  font-weight: bold;
  font-size: 1.3em;
}
.price {
  & p {
    & span {
      font-size: 2.5em;
      font-weight: bolder;
    }
    & span:nth-child(2) {
      font-size: 1.3em;
      color: gray;
      color: gray;
    }
  }
}
.stock {
  color: #00b900;

  font-size: small;
  & span {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #49ff49;
    border-radius: 50%;
    margin-left: 0.4em;
    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      left: -3px;
      top: -3px;
      background-color: #00b900;
      z-index: -1;
      border-radius: 50%;
      animation: dot 1s infinite ease;
    }
  }
}

@keyframes dot {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
