.tools-title{
    color:var(--white);
    font-family: 'Poppins';
    margin-bottom:1em;
}


.tools-section{
    width: 100%;
    height: 400px;
    background-color:black;
    border-radius:5px;
    color:var(--white);
    display:flex;
    flex-direction:column;
    font-family: 'Poppins';
    padding:1em;
    gap:5px;
    & a{
        width: 30px;
        height: 30px;
        border:1px solid gray;
       color:white;
       position:absolute;
       right:10px;
       bottom:10px;
       border-radius: 50%;
       display:flex;
       justify-content: center;
       align-items: center;
       &:hover{
        background-color:white;
        color:black;
       }
    }
}
.tool-card{
    position:relative;
    padding:1em;
    border-radius:3px;
    border:1px solid var(--gray);

    transition: background .2s;
    &:hover{
        background:linear-gradient(45deg, rgb(0, 0, 0),var(--almostblack))
    }
}
