.main-footer {
  position: relative;
  padding: 0 1em 3em 1em;
  color: var(--white);
}
.footer-text-contenedor {
  margin-bottom: 2em;
}
.h-title span {
  display: block;
  font-size: .5em;
  font-weight: 100;
}

.form-contact-contenedor {
  display: flex;
}
.logoAl-contenedor {
  width: 50%;
  padding: 0 2em;
  > div {
    display: flex;
    flex-direction: column;
    color: gray;
  }
  & img {
    object-fit: cover;
    width: 80px;
    aspect-ratio: 1/1;
  }
}
@media (width < 766px) {
  .form-contact-contenedor {
    flex-direction: column;
  }
  .logoAl-contenedor {
    width: 100%;
    padding: 0;
  }
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.8em;
  margin-bottom: 2em;
  & ul {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  & li {
    list-style: none;
    margin: 5px 0;
  }
  
  
 
}

.about-me a {
  text-decoration: none;
  color: gray;
  align-items: center;
  gap: 5px;
  transition: 0.6s ease;
  &:hover{
    color: #027ed3;
  }
  
}
.socails-links-box{
  display: flex;
  gap: 1em;
  padding:1em 0 ;
}
.socials-links {
width:2.5em;
height:2.5em;
border-radius:50%;
border:1px solid var(--gray);
display: flex;
align-items: center;
justify-content: center;
&:hover{
  background:white;
}
}
.socials-links a {
  &:hover {
    text-decoration: underline;
    color: black;
  }
}
