.main-footer {
  position: relative;
  padding: 0 1em;
  color: var(--white);
}
.footer-text-contenedor {
  margin-bottom: 2em;
}

.form-contact-contenedor {
  display: flex;
}
.logoAl-contenedor {
  width: 50%;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & img {
    object-fit: cover;
    width: 17%;
    aspect-ratio: 1/1;
  }
}
@media (width < 766px) {
  .form-contact-contenedor {
    flex-direction: column;
  }
  .logoAl-contenedor {
    width: 100%;
  }
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.9em;
  margin-bottom: 2em;
  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & li {
    list-style: none;
    display: flex;
    align-items: center;
  }
}
.about-me a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.6s ease;

  &:hover {
    color: greenyellow;
    text-decoration: underline;
  }
}
.midu-color {
  color: #027ed3;
}
